<div class="table-responsive" class="mx-auto" style="width: 1200px;">
  
    <div class="row">  <div class="col">
        <input type="text" [(ngModel)]="search" (ngModelChange)="getProducts()"
               class="form-control" placeholder="recherche">
      </div>
        <div class="col">
            <div class="text-end">
                <button    routerLink="/addproduct"    style="font-size: 2em; cursor: pointer;"   class="fa fa-plus" ></button>
            </div>
        </div>
    </div>


    <table class="table">
        <thead class="text-uppercase">
            <tr>
                <th><div class="py-2">Article</div></th>
                <th><div class="py-2">Famille</div></th>
                <th><div class="py-2">Type</div></th>
                <th><div class="py-2">Prix</div></th>
                <th><div class="py-2">Description</div></th>
                <th ><div class="py-2"></div></th>
                <th ><div class="py-2"></div></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <th>
                    <div class="p-2 d-inline-block">
                  
                        <div class="ms-3 d-inline-block align-middle">
                            <h5 class="mb-0">
                                    {{item.name}}
                            </h5>
                         
                        </div>
                    </div>
                </th>
                <td class="align-middle">
                    
                    <strong>{{item.famille.name}}</strong>
                 
                    
                </td>
                <td class="align-middle" ><strong>{{item.type.name }}</strong></td>

                <td class="align-middle"><strong>{{item.prix | number:'.3-3'}}</strong></td>
                <td class="align-middle"><strong>{{item.description}}</strong></td>

                <td class="align-middle" >
                    <div>
                    <a class="text-danger">
                        <i 
                        routerLink="/editproduct/{{item.id}}" 
                            class="fa fa-edit" 
                            style="font-size: 2em; cursor: pointer;"></i>
                    </a>
                </div>
            </td>
            <td>
                <div>
                    <a class="text-danger">
                        <i (click)="deleteProduct(item.id)" class="align-middle"
                            class="fa fa-trash" 
                            style="font-size: 2em; cursor: pointer;"></i>
                    </a>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>