<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4>Adresse de Livraison</h4>
        <button class="btn btn-outline-success mb-3 mt-2" 
            (click)="saveUserAddress()"
            [disabled]="!checkoutForm.get('addressForm')?.valid || 
                !checkoutForm.get('addressForm')?.dirty"
        >
        Enregistrer comme adresse par défaut     
    7   </button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-input [label]="'Nom'" formControlName="firstName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Prénom'" formControlName="lastName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Rue'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Ville'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Gouvernerat'" formControlName="state"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Code postal'" formControlName="zipcode"></app-text-input>
        </div>

    </div>
</div>

<div class="d-flex justify-content-between flex-row mt-3 mb-4">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Retour au panier
    </button>
    <button [disabled]="checkoutForm?.get('addressForm')?.invalid" class="btn btn-primary" cdkStepperNext>
        Passer à la livraison <i class="fa fa-angle-right"></i> 
    </button>
</div>