<div class="container">
    <h2 class="title">Liste des Familles</h2>
    <div class="table-responsive">
      <div class="row mb-4">
        <div class="col">
          <input type="text" [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" class="form-control" placeholder="Rechercher" />
        </div>
        <div class="col text-end">
          <button routerLink="/AddFamille" class="btn btn-outline-primary mx-2">Ajouter Famille</button>
        </div>
      </div>
  
      <table class="table">
        <thead class="text-uppercase">
          <tr>
            <th><div class="py-2">Nom du Famille</div></th>
            <th><div class="py-2"></div></th>
            <th><div class="py-2"></div></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of familles">
            <td>{{item.name}}</td>
            <td class="align-middle">
              <div>
                <a class="text-danger">
                  <i routerLink="/EditFamille/{{item.id}}" class="fa fa-edit" style="font-size: 2em; cursor: pointer;"></i>
                </a>
              </div>
            </td>
            <td>
              <div>
                <a class="text-danger">
                  <i (click)="deleteFamille(item.id)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  